@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
background-color: rgb(223, 223, 223);
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
font-size: 16px;
color: #555;
-webkit-font-smoothing: antialiased;
-webkit-overflow-scrolling: touch;
margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Oswald', sans-serif;;
font-weight:500;
color: #333;
margin-bottom: 20px;
padding-top: 20px;
}
p {
line-height: 28px;
margin-bottom: 10px;
padding-right: 20px;
}

.nb {
    font-weight: 700;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: azure;
    height: 100px;  
}

.navbar-brand {
    font-size: 32px;
    margin-left: 10px;
    margin-right: 20px;
}

.navbar-nav {
    margin-left: 10px;
    margin-top: 56px;
    
}
.nb .navbar-text {
    font-size: 18px;
    color: rgb(233, 233, 233);
    margin-right: 20px;

}
/* цвет текста, содержащий название сайта или бренда */
.nb .navbar-brand {
    color: #03abd4;
}

/* Цвет пунктов навигационного меню */
.nb .navbar-nav > .nav-item > .nav-link {
    color: #8bc7ff;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-expand-lg .navbar-nav > .nav-item > .nav-link:hover,
.navbar-expand-lg .navbar-nav > .nav-item > .nav-link:focus {
    color: #2f87eb;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.nb .navbar-nav > .active > .nav-link{
    color: rgb(47, 105, 230);
} 
.nb .navbar-nav > .active > .nav-link:hover, 
.nb .navbar-nav > .active > .nav-link:focus {
    background-color: #bbbbbb;
}

.navbar-nav a:hover {
    color: rgb(47, 105, 230);
}
.dropdown-item:hover {
    background-color: rgb(184, 184, 184);
}
.form-inline button {
    color: royalblue;
    border: 2px solid royalblue;
}
 .form-inline button:hover, .form-inline button:focus {
    border: 2px solid royalblue;
    background-color: royalblue;
}
.form-control {
    margin-left: 10px;
}
.gen {
    font-size: 16px;
    font-weight: bold;
}
.gen a{
    color: rgb(49, 49, 49);
}
.gen a:hover, .gen a:focus {
    color: blue;
}
.d button {
    background-color:#2f87eb;
    color: white;
    height: 45px;
}
.d button:hover, .d button:focus {
color:black;
font-weight: 800;
}
.rel a {
    text-decoration: none;
}
.footer {
    background-color: rgb(87, 87, 87);
    height: 500px;
}
.foot ul {
    list-style-type: none;
    padding-top: 20px;  
}
.foot li {
    padding-top: 10px;
}

.foot a {
    color: white;   
}
.f p {
    color: rgb(255, 255, 255); 
}



